# Gradle
.gradle/
build/
**/build/

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
local.properties
.navigation/

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.dex
*.keystore
!debug.keystore

# Kotlin / KMP
.kotlin/
kotlin-js-store/

# OS specific
.DS_Store
Thumbs.db

# Misc
node_modules/
*.log
temp/
/tmp/
